body {
    font-family: 'Lato', sans-serif !important;
    margin:0;
  }
  .bg{
	  background-image: url("../image/coffee4.jpg");
	  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../image/coffee4.jpg);
	  z-index: -5;	
  }
  .bg_color{
    background-color: #3b3d47;
	
   

      
  }
  .navbar-nav{
	  padding-left: 180px !important; 
  }
  
  .nav-img{
      text-align:center;
      padding-top:40px;
  }
  .nav-link{
      color:white;
      padding: 20px 2px;
      font-style: bold;
	  text-align: center;
	 
      
  }  
  .margin-set{
	  margin: 10px;
  }
  .menus{
	color:white;
	font-size: 40px !important;
  }

      .nav-item {
        overflow: hidden;
        padding: 30px;
        
      }
      
      .nav-item a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 17px;
        border-bottom: 3px solid transparent;
        font-style: bold;
       
      }
      
      .nav-item a:hover {
        border-bottom: 3px solid white;
      }
      
      .nav-item a.active {
        border-bottom: 3px solid white;
      }
     li{
        text-align: center;
     }
     .para{
         text-align: center;
         color: white
     }
     .img-index{
		
		text-align: center;
        /* opacity: 0.50; */
            z-index:1;
      
     }
	 .bg-color{
		background-color:#f6f6f7;
	 }
	 .heading{
		text-align:center;
		color: #C9AD85;
		padding-bottom:50px;

	 }
	 .padding-align{
		padding-top:50px;
		padding-bottom: 50px;
	 }
	 .para-text{
		text-align:center;
		padding-bottom: 30px;
		
	 }
	.aligns{
		text-align:center;
		padding-bottom:30px;
		z-index: 5;
		
	}
	.backgrnd{
		
		 background-image: linear-gradient(180deg, rgba(59, 61, 71, 0.9), rgba(59, 61, 71, 0.9)), url(../image/coffee4.jpg);
		 z-index: 5; 
		 
	}
	.bgcolors{
		background-color:#3b3d47;
		z-index: 5;
		
	}
	.card{
	width:100%;
	height:60%;
	background-color:#3b3d47!important;
	box-shadow:2px 2px  #3b3d47 !important;
	z-index: 2;
	border-radius: 10px 10px 10px 10px	!important;
	text-align: center;
	
	}
	.icon3{
		  color:white;
		  font-size: 100px !important;
			padding-top:30px;
			padding-bottom:30px;
		  text-align: center;
		  
		  
	}
	.icon-set{
		background-color:#C9AD85;
		
	}
	.pad-icon{
		/* padding-top: 30px;
		padding-bottom: 30px; */
		background-color:#C9AD85;
		border-radius: 10px 10px;
		
	}
	
	.pg{
		padding-top:20px;
		color:#C9AD85;
	}
	.back-color{
		background-color:#3b3d47 !important;
		padding-top:20px;
		padding-bottom: 40px;
		text-align: center;
		padding:20px;
	}
	.paras{
		color:#C9AD85;
		padding-bottom: 50px;
	}
	.aligns{
	color:#C9AD85; 
	font-weight: bold;
	z-index:2;
	padding-bottom: 50px;
	} 
	  .para-aa h4{
		color:#C9AD85;
	  }
	  .para-aa1 h4{
		color:#C9AD85;
	  }
	  .para-aa{
		 text-align: right;
		 
		 
	  }
	  .numbers{
		width:50px;
		height:50px;
		border-radius: 50%;
		padding: 7px; 
		background-color:#C9AD85;
		float:right;
		margin-top:-70px;
		margin-right: -70px;
		text-align: center;
			
	  }
	  .para-aa1{
		text-align: left;
		margin-left:50px;
		
	 }
	 
	
	  .numbers1{
		width:50px;
		height:50px;
		border-radius: 50%;
		padding: 7px; 
		background-color:#C9AD85;
		float:left;
		margin-top:-85px;
		margin-left: -60px;
		text-align: center;
	}
	.numbers1 p{
		color:white;
		font-weight: bold;
		font-size: 20pt;
	}
	.numbers p{
		color:white;
		font-weight: bold;
		font-size: 20pt;
	}
	.vl {
		border-left: 3px solid #C9AD85;
		height: 57px;
		
		left: 50%;
		
		margin: auto;
    	width: 7px;
	
	  }
	  .padding-setting{
		  padding-top:50px;
		  padding-bottom:50px;
	  }
	 


/* Slideshow container */
.slideshow-container {
  position: relative;
  
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
  color:#C9AD85;
  text-align: justify;
  opacity: 1 !important;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color:#C9AD85 !important;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
  color:#C9AD85;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color:#C9AD85;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
	padding: 20px;
	color:#C9AD85;
   
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color:#C9AD85;}


.back_col{
	background-color: #3b3d47;
}
.padding-setting{
	padding-top: 50px;
	padding-bottom:50px;
}
.quotes{
	text-align: right;
}
.h2-word{
	text-align: center;
	color: #C9AD85;
	
	
}
hr {
	width: 60px;
	/* color:#C9AD85 2px !important; */
	border-top: 3px solid #C9AD85 !important;
	
  }
/* hr{
	width:30px;
	color: #C9AD85 6px;
} */
.padd_set{
	padding-bottom: 50px;
	padding-top: 50px;
}
.back_cols{
	background-color: #3b3d47;
}
input[type="text"],input[type="email"]{
	background-color:#f7f7f7;
	border-style: #C9AD85 2px;
	padding: 5px 15px;
	margin: 10px;
	border-color: rgb(#C9AD85);
	/* padding-right:5px; */
	
}
button{
	background-color: #C9AD85;
	border-style: none;
	padding:5px 30px;
}
.footer-set li{
	list-style-type: none;
	text-align: center;
	
	padding-top:20px;
  	
  	word-spacing: 20px;
  	display: inline-block;
}
.footer-set ul{
	text-align: center;
	word-spacing: 100px;
}
/* .footer-set ul{
	float:left;
	
} */
.textarea{
	background-color: #f7f7f7;
	/* border-style: none; */
	border-style: #C9AD85 2px;
}
.forms{
	padding-top:50px;
}
.copyright{
	text-align: center;
	color:#C9AD85;
	padding-bottom: 20px;
}
.footer-set li a {
	color:#C9AD85;
}
.comment {
	float: left;
	width: 100%;
	height: auto;
}
.textinput {
	text-align:center;
	width: 70%;
	min-height: 75px;
	
	
	border: 1px solid grey;
	
}


/* media query */
@media only screen and (max-width : 1200px) {
	.navbar-nav {	
		padding-left: 60px !important; 
	}
}
@media only screen and (min-width : 992px) and (max-width : 1200px) {
	.textinput {
		text-align:center;
		width: 82%;
		min-height: 75px;
		outline: none;
		
		border: 1px solid grey;
		
	}
}

@media only screen and (max-width : 992px) {
	.navbar-toggler{
		float:left;
		margin-top:-110px;
		border-style: none !important;
	}
	.menus{
		margin-left:0;
		/* margin-top: -9px; */
		border-style: none;
		font-size:5px;
	}
	/* .footer-set li{
		list-style-type: none;
		text-align: center;
		
		padding-top:20px;
		  
		  
		  
	} */
	.navbar-nav {
		
			padding-left: 0px !important; 
			/* word-spacing: 3px; */
			line-height: 1.6;
			
		
	}
	.textinput {
		text-align:center;
		width: 70%;
		min-height: 75px;
		outline: none;
		
		border: 1px solid grey;
		
	}
	input[type="text"],input[type="email"]{
		background-color:#f7f7f7;
		border-style:solid #C9AD85 1px;
		padding: 5px 20%;
		
		margin: 20px;
		/* padding-right:5px; */
		
	}
	.nav-link{
		color:white;
		
		font-style: bold;
		text-align: center;
	   
		
	} 
	/* .nav-img{
		width:30px;
		height:35px;
	}  */
	.nav-item{
		padding: 15px;
	}
}
@media only screen and (min-width : 768px) and (max-width : 992px) {
	.footer-set li{
		list-style-type: none;
		text-align: center;
		
		padding-top:20px;
		  
		  word-spacing: 5px;
		  display: inline-block;
	}
	.footer-set ul{
		text-align: center;
		word-spacing: 55px;
	}
}
@media only screen and (min-width : 576px) and (max-width : 992px) {
	.card{
	  
		width: 80%;
		height: 100%;
	  }
	  

}	
@media only screen and (max-width : 992px) {
	.card{
	  
	  width: 100%;
	  height: 100%;
	}

}
@media only screen and (max-width : 768px){
	.textinput {
		text-align:center;
		width: 85%;
		min-height: 75px;
		outline: none;
		resize: none;
		border: 1px solid grey;
		
	}
	.card{
	  
		width: 100%;
		height: 100%;
	  }

} 
@media only screen and (min-width : 576px) and (max-width : 360px) {
	.textinput {
		text-align:center;
		width: 85%;
		min-height: 75px;
		outline: none;
		
		border: 1px solid grey;
		
	}
}
@media only screen and (max-width : 360px){
	input[type="text"],input[type="email"]{
		background-color:#f7f7f7;
		border-style:solid #C9AD85 1px;
		padding: 5px 10%;
		
		margin: 20px;
		/* padding-right:5px; */
		
	}
	.textinput {
		text-align:center;
		width: 70%;
		min-height: 75px;
		outline: none;
		
		border: 1px solid grey;
		
	}
}